@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background: url("./images/image-17.jpg") no-repeat;
  width: 100%;
  background-size: cover;
  height: 50vh;
  background-position: center;
  object-fit: cover;
}

.footer {
  background: url("./images/image-27.jpg") no-repeat;
  width: 100%;
  background-size: cover;
}

.bizHaqimizda {
  background: url("./images/BizHaqimizda.jpg") no-repeat;
  width: 100%;
  background-size: cover;
  height: 32vh;
  background-position: center;
}


/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

form.signup input,
form.login input,
form.signup select {
  width: 90%;
  height: 30px;
  font-size: 20px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  text-indent: 10px;

}

form.signup button,
form.login button {
  width: 200px;
  margin-top: 10px;
  font-size: 20px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  color: var(--primary);

}

.login>h1 {
  text-align: center;

}

.login>h1 span {
  color: red;
}

form.login .natija {
  margin-top: 20px;
  border: #1aac83 2px solid;
  padding: 5px 10px;
  text-decoration: none;
  color: #1aac83;
}

.login_password {
  display: flex;
  align-items: center;
  width: 90%;
  border: 2px solid var(--primary);
  border-radius: 4px;
}

.login_password input {
  width: 100%;
  height: 30px;
  font-size: 20px;
  border: none !important;


}

.login_password input:focus {
  outline: none;
}

.aye_svg {
  font-size: 26px;
  cursor: pointer;
}


.student_count {
  color: red;
}